@import url('https://fonts.googleapis.com/css2?family=fantasy:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fantasy;', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    background: black;
    color: white;
}
header{
    position: fixed;
    width: 111%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}
.logo{
    color: white;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color:  #f9004d;
}
.navlist{
    display: flex;
}
.navlist a{
    color: #f9004d;
    font-size: 17px;
    font-weight: bold;
    margin: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: white;
}
.navlist a.active{
    color: white;
}
#menu-icon{
    font-size: 35px;
    color: black;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
section{
    padding: 160px 15% 120px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('new.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60%;
}
.slide{
    margin-bottom: 20px;
}
.one{
    color: #f9004d;
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: bold;
}
.home-text h1{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url('back.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 5s linear infinite;
}
@keyframes back{
    100%{
        background-position: 200px 0;
    }
}

.home-text h3{
    color: #f9004d;
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}
.home-text p{
    color: gold;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 4px;
    font-weight: bold;
}
header.sticky{
    background: black;
    border-bottom: 1px solid #ffffff1a;
    padding: 10px 12%;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.title h2{
    margin-top: -50px;
    color: white;
    font-size: 50px;
    width: 1130px;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.box .card{
    
    background: gray;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid black;
    transition: .5s ease;
}
.box .card:hover{
    border-color: #f9004d;
    transform: scale(1.02);
}
.card{
    height: auto;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card_small{
    width: 300px;   
}
.card_wide{
    width: 480px;
}
.card i{
    font-size: 7rem;
    color: #f9004d;
}
.card h3{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.card p{
    color: black;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .btn:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.main-text h2{
    margin-top: -100px;
    color: white;
    font-size: 50px;
    width: 1130px;
    text-align: center;
}

.hobbies-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 2rem;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #ff004f);
    position: absolute;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    font-size: 20px;
    font-weight: 700px;
    margin-bottom: 15px;
}
.layer p{
    color: black;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: #f9004d;
    margin-top: 20px;
    font-size: 20px;
    background: #0ef;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}


.end{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: #323946;
}
.last-text p{
    color: #0ef;
    font-size: 14px;
}
.top i{
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: black;
    background: #f9004d;
}